body {
background: #E5E5E5;
}

.content {
  max-width: 1000px;
  margin: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: white;
  padding: 10px;
}

h1 {
  color: #0080c0;
  text-align: center;
  font-size: 6em;
  margin: 0;
  padding: 0;
}

h2 {
  color: #0cc0df;
  text-align: left;
  margin: 0;
  padding: 0;
}

h4 {
  color: #0080c0;
  margin-top: 0;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

p {
  text-align: justify;
  color: darkslategray;
  margin: 0;
  padding: 0;
}

.contributori {
  text-align: center;
  font-family: monospace;
  text-align: center;
  padding:1em;
}

.mappa {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


footer {
  padding: 6%;
  text-align: center;
  font-size: 11px;
}

a {
  color:#0080c0;
  text-decoration: none;
}

h6 {
  color: blue;
}

.descrizione {
  padding-right: 2em;
  padding-left: 2em;

